*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  align-items:baseline;
}

.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container{
  width: 100%;
  margin: 0 auto;    
}

body > header{
  background-color: #2f3640;
  padding: 16px;
  color: lightgray;
  width: 100%;
}

header .container{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  background-color: #2f3640;
}

.container h1{
  background-color: #2f3640;
}

.container li{
  background-color: #2f3640;
}

.container ul{
  background-color: #2f3640;
}

.container a{
  background-color: #2f3640;
  color:  rgb(84, 116, 106);
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}

.container a:hover{
  background-color: #2f3640;
  color:  rgb(14, 236, 166);
  text-decoration: underline;
}

header li{
  display: inline;
  margin-left: 16px;
}

.articles article img{
  /* height: 180px; */
  width: 100%;
  border-radius: 8px;
}

.articles article{
  width: 30%;
}

.articles article h3{
  margin-top: 8px;
  margin-bottom:8px;
  font-size: 24px
}

section{
  padding: 16px;
}

section h2,
.articles article{
  margin-bottom: 16px;
}

section h2{
  font-size:  32px;
  background-color: rgb(84, 116, 106);
  padding: 16px;
  border-radius: 8px;
}

.h2ent{
  background-color:rgb(10, 134, 95);
}

.h2tec{
  background-color:rgb(8, 139, 118);
}

#esporte {
  background-color: rgb(8, 41, 31);
}

#esporte .articles article a{
  background-color:  rgb(22, 58, 27);
  color:  rgb(122, 175, 158);
  padding: 8px;
  display: inline-block;
  text-decoration:none;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}

#esporte .articles article a:hover{
  background-color:  rgb(35, 80, 41);
  color:  rgb(14, 212, 150);
  padding: 8px;
  display: inline-block;
  text-decoration:underline;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}

#entretenimento {
  background-color: rgb(14, 78, 59);
}

#entretenimento .articles article a{
  background-color:  rgb(1, 78, 12);
  color:  rgb(86, 139, 123);
  padding: 8px;
  display: inline-block;
  text-decoration:none;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}

#entretenimento .articles article a:hover{
  background-color:  rgb(9, 97, 22);
  color:  rgb(166, 221, 102);
  padding: 8px;
  display: inline-block;
  text-decoration:underline;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}

#tecnologia{
  background-color:rgb(13, 90, 77);
}

#tecnologia .articles article a{
  background-color:  rgb(3, 129, 98);
  color:  rgb(115, 189, 165);
  padding: 8px;
  display: inline-block;
  text-decoration:none;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}

#tecnologia .articles article a:hover{
  background-color:  rgb(34, 179, 142);
  color:  rgb(64, 38, 156);
  padding: 8px;
  display: inline-block;
  text-decoration:underline;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 8px;
}